<h1 mat-dialog-title> {{userActionTitle}} </h1>
<div mat-dialog-content>
<form [formGroup]="userForm">
  <small *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">
    <div class="text-danger" *ngIf="userForm.controls['firstName'].errors?.['required']" > firstname  required</div>
    <div class="text-danger"  *ngIf="userForm.controls['firstName'].errors?.['maxlength']" > character exceeded</div>
  </small>
    <mat-form-field appearance="outline">
        <mat-label> Firstname</mat-label>
        <input matInput placeholder="Firstname" formControlName="firstName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <small *ngIf="userForm.controls['lastName'].invalid && userForm.controls['lastName'].touched">
        <div class="text-danger" *ngIf="userForm.controls['lastName'].errors?.['required']" > lastname required</div>
        <div class="text-danger"  *ngIf="userForm.controls['lastName'].errors?.['maxlength']" > character exceeded</div>
      </small>
      <mat-form-field appearance="outline">
        <mat-label> Lastname </mat-label>
        <input matInput placeholder="Lastname" formControlName="lastName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <small  *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
        <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['required']" > email required</div>
        <mat-error  *ngIf="userForm.controls['email'].errors?.['email']" > invalid email</mat-error>
      </small>
    
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input  matInput placeholder="pat@example.com"   formControlName="email" required>
      </mat-form-field>
     
      
      <mat-form-field *ngIf="!this.editData">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="addUser()" cdkFocusInitial>{{actionBtn}}</button>
      </mat-dialog-actions>
</form>
</div>
