<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3" style="margin-left: 28.333333%;">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body">
            <form class="form" [formGroup]="userLoginForm">
              <p class="form-title">Sign in to your account</p>
              <div class="input-container" > 
                <!-- [class.error]="userLoginForm.controls['email'].touched && userLoginForm.hasError('required', 'email')" -->
                <input formControlName="email" type="email" placeholder="Enter email" style="width: 100%;" />
                <span> </span>
              </div>
              <small *ngIf="userLoginForm.controls['email'].touched && userLoginForm.hasError('required', 'email')" class="text-danger">*User Email required</small>
              <div class="input-container" >
                <!-- [class.error]="userLoginForm.controls['password'].touched && userLoginForm.hasError('required', 'password')" -->
                <input formControlName="password" [type]="type" placeholder="Enter password" style="width: 100%;" />
                <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="position: absolute; right: 13px; top: 50%; transform: translateY(-50%); cursor: pointer;"></span>
              </div>
              <small *ngIf="userLoginForm.controls['password'].touched && userLoginForm.hasError('required', 'password')" class="text-danger">*Password required</small>
              <button (click)="onSubmit()" type="submit" class="submit">Sign in</button>
              <p class="signup-link">
                No account?
                <a routerLink="/userSignup">Sign up</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-user-signup></app-user-signup> -->
